{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block content %}

<div class="card bg-dark text-gray">
    <img src="/static/twitt-backgr.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <br/>
    <h1 class="card-title">Twitter Types Predictor</h1>
    <br/>
    {% if error_found == True %}
      <p class="card-text">Sorry the user is not available. {{ error_reason }}</p>

    {% else %}
      <p class="card-text">{{ real_name }} (@{{ twittname }}) has probably the following type:</p>
      <h2 class="card-text">{{ prediction }}</h2>
      <h3 class="card-text">{{ description }}</h3>
      <br/>
      <br/>
      <br/>
      <p class="card-text">Let's go back in time to {{ create_year }}. At that time, {{ real_name }} had the type:</p>
      <h2 class="card-text">{{ past_prediction }}</h2>
      <h3 class="card-text">{{ past_description }}</h3>
      <h3 class="card-text">{{ pred_not_possible }}</h3>


    {% endif %}
  </div>
</div>

{% endblock %}